@font-face {font-family: "Suisse Int'l Medium";
    src: url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.svg#Suisse Int'l Medium") format("svg"); /* iOS 4.1- */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Suisse Int'l Medium", sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1190px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

button {
    outline:none;
    background:none;
    border: none;
}

.red_button,
.white_button {
    padding: 15px 18px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #CB3B48;
    border-radius: 5px;
    border: 1px solid #CB3B48;
}

.white_button {
    color: #CB3B48;
    background-color: #fff;
}



/* top-nav */

.header_container {
    background: linear-gradient(180deg, #222220 0%, #222220 11.92%, rgba(34, 34, 32, 0.87) 29.17%, rgba(34, 34, 32, 0.88) 71.8%, #222220 100%), url('../images/main_top-screen_header.png');
    border: 1px solid #000000;
    height: 940px;
}

.top-nav_wrap {
    justify-content: space-between;
}

.top-nav__menu {
    column-gap: 42px;
}

.top-nav_wrap {
    justify-content: space-between;
}

.top-nav__menu_buttons {
    column-gap: 25px;
}

.top-nav__call_button,
.top-nav__cabinet_button {
    box-shadow: 0px 0px 15.1515px rgba(189, 45, 67, 0.5);
}

.top-nav__menu_items {
    column-gap: 25px;
}

.top-nav__menu_item a {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}





/* //top-nav */